.container {
  width: 100vw;
  height: 100vh;
  background-color: #B660CD;
  padding: 10px;
}

body {
  overflow: hidden;
}

.card-container {
  width: 70%;
  height: 70%;
  position: relative;
  left: 18rem;
  top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}
